body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.colunaEsquerda {
    display: flex;
    background-color: var(--corEsquerda);
    flex-direction: column;
    width: 58%;
    height: 100vh;
    align-items: center; 
    justify-content: end;
}

.colunaDireita {
    background-color: var(--corDireita);
    color: var(--corTexto);
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 100vh;
}


.imgCima img {
    width: 55vh;
    height: 40vh;
}

.imgBaixo img {
    width: 105vh;
    height: 50vh;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-bottom: 7vh;
}

.menu-item {
    background: none;
    border: none;
    color: var(--corTexto);
    font-size: 4vh;
}

.menu-item:hover {
    cursor:pointer;
}

#ola {
    position: absolute;
    right: 4vh;
    font-size: 3vh;
    color: var(--corTexto);
}

.botoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2vh;
}

.botoes-estoque {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 3vh;
}
.menu-item2 {
    background: none;
    border: none;
    color: var(--corTexto);
    font-size: 3vh;
}

.menu-item2:hover {
    cursor:pointer;
}

.linha {
    width: 40vh;
    border: 1px solid var(--corTexto)
}
#grossa {
    width: 45vh;
}


.entradaDados {
    margin-bottom: 20px;
}


.entradaDados label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}


.entradaDados input[type="text"] {
    width: 130%; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}


.entradaDados input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.quemSomos {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quemSomos h1 {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--corTexto);
    border-bottom: 2px solid var(--corTexto);;
    padding-bottom: 10px; 
}

.quemSomos p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: var(--corTexto);
}

.corBackground {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-color: var(--corDireita);
    margin: auto;
}

.divTabela {
    display: flex;
    justify-content: center;
    width: 90vh; 
    height: 90vh; 
    border-radius: 20px;
    background-color: var(--corEsquerda);
}

.nomeEstoque {
    margin: 50px;
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: var(--corDireita);
}
