<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard de Administrador</title>
</head>
<body>
    <h1>Dashboard de Administrador</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Nome Completo</th>
                <th>E-mail</th>
                <th>Administrador</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ 'Sim' if user.is_admin else 'Não' }}</td>
                <td>
                    <a href="{{ url_for('edit_user', user_id=user.id) }}"><button>Editar</button></a>
                    <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                        <button type="submit">Excluir</button>
                    </form>
                    <a href="{{ url_for('admin_manage_estoque', user_id=user.id) }}"><button>Gerenciar Estoque</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}"><button>Ir para Página Inicial</button></a>
    <a href="{{ url_for('logout') }}"><button>Logout</button></a>
</body>
</html>
